/* Global Styles */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
#navbar-search input:focus {
  outline: none;
}
#navbar-search-icon {
  position: absolute;
  margin-left: -30px;
  margin-top: 3px;
}

#hero-car-game-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pagingDotsClassName {
  display: none;
}
.nextButtonClassName, .prevButtonClassName {
  position: relative;
border-radius: 9999px;
}
.nextButtonClassName {
  left: 63px;
}
.prevButtonClassName{
  left: -60px;
}